.idea/
.vscode/
app/__pycache__/
app/models/__pycache__/
env/migrations/__pycache__/
app/infrastructure/__pycache__/
app/repos/__pycache__/
app/storage/__pycache__/
env/migrations/versions/__pycache__
env/.env
app/tests/__pycache__/
env/__pycache__/
extension/node_modules/
extension/__tests__/
extension/package.json
