{% extends "layout.html" %}

{% block title %}Sharemark - Share Bookmark Folders Easily{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='styles/main.css') }}">
{% endblock %}

{% block content %}

    {% include 'components/header.html' %}
    
    {% include 'components/hero.html' %}

    {% include 'components/footer.html' %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', path='scripts/main.js') }}"></script>
{% endblock %}