fastapi
uvicorn[standard]
python-dotenv
pydantic
sqlalchemy
pymysql
alembic
debugpy
cryptography
redis
aio_pika
sentry-sdk
prometheus_client
fastapi-limiter
msgpack
jinja2
python-multipart
pydantic[email]
fastapi-proxiedheadersmiddleware